<header class="site-header">

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
    			<a class="site-title" href="{{ site.baseurl }}/"><img src="/img/ERI_horizontal_rgb.jpg" /></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
    		<div class="navbar">
				<ul class="nav nav-pills">
      			{% for node in site.pages %}
      			{% if node.group == "navigation" %}
      			{% if page.url == node.url %}
      				<li class="active single"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
      			{% else %}
      				<li><a class="single" href="{{node.url}}">{{node.title}}</a></li>
      			{% endif %}
      			{% endif%}
      			{% endfor %}
        		</ul>
			</div>
		</div>
	</div>


</header>
