<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
	<div class="container-fluid">
	<div class="spacer"></div>
	<div class="row-fluid">
    <div class="span8">
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  	<header class="post-header">
    <h2 itemprop="name headline">{{ page.title }}</h2>
 	 </header>
     <div class="hor_line"></div>  
     <div class="post-content" itemprop="articleBody">
  	<div class="post-meta">
  		<h5>Posted on {{ page.date | date_to_string }} by {{ page.author }}</h5>
  	</div>
    	{{ content }}
  	</div>

  	<div class="post-meta grey_bg">
		   <i class="fa fa-user"></i>
		   {{ page.author }} <span class="liner"></span>
		   <i class="fa fa-calendar"></i>
		   {{ page.date | date_to_string }} <span class="liner"></span>
		   {% for tags in page.tags %}
		   <i class="fa fa-tag"></i>
    		<span>{{ tags }}</span>
  			{% endfor %}
		   </div>
	<div class="spacer"></div>
	</article>
	</div>
      	<div class="span2 leftdiv">
  			<ul class="tags">
				{% for tag in site.tags %}
				{% assign t = tag | first %}
				{% assign posts = tag | last %}
				{% assign link = t | prepend:'../tag_pages/' %}
				{% assign p = tag | first' %}
				{% assign pic = p | append:'_tiny.jpg' %}
				{% assign pict = pic | prepend:'../../../img/' %}
				<li class="list_by_tag"><a href="{{ link }}"><img class="circular" src="{{ pict }}" /> {{t | downcase | replace:" ","-" }} <span class="post-meta">({{ posts | size }})</span></a></li>
				{% endfor %}
			</ul>
  		</div>
<div class="spacer"></div>   		
  	</div>
  </div>

    {% include footer.html %}
  </body>

</html>
