<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
	<div class="container-fluid">

    <div class="spacer"></div>  
    <h2>Meet the Team</h2>	
    <div class="spacer"></div>
	<div class="row-fluid">
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">MARK</p>
				<div class="jobdesc margin-shrinker">The dude</div>
				<p>Gettin' wild in Vegas.</p>
			</div>
		</div>
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">DERRIN</p>
				<div class="jobdesc margin-shrinker">eLearning and UI design lead</div>
				<p>Instructional designer, and game design enthusiast.</p>
			</div>
		</div>
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">GARY</p>
				<div class="jobdesc margin-shrinker">The dude</div>
				<p>Gettin' wild in Vegas.</p>
			</div>
		</div>
	</div>
	
		<div class="row-fluid">
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">DHANA</p>
				<div class="jobdesc margin-shrinker">The dude</div>
				<p>Gettin' wild in Vegas.</p>
			</div>
		</div>
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">JOHNNY</p>
				<div class="jobdesc margin-shrinker">The dude</div>
				<p>Gettin' wild in Vegas!</p>
			</div>
		</div>
		<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">ANIL</p>
				<div class="jobdesc margin-shrinker">The dude</div>
				<p>Gettin' wild in Vegas.</p>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
	<div class="span4 profile">
			<div class="profile-header">
				<img class="circular" src="../img/jen-small.jpg" />
			</div>
			<div class="profile-content">
				<p class="profile-title">JEN</p>
				<div class="jobdesc margin-shrinker">eLearning Specialist</div>
				<p>eLearning developer, educationalist and user centered designer.</p>
			</div>
		</div>
	</div>
      
    		
  	</div>

    {% include footer.html %}
  </body>

</html>
